body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h1,h3{
    text-align: center;
}

p{
    border: 2px solid black;
    background-color: green;
}

.p:hover{
    background-color: red;
    color: white;
}

div{
    border: 2px solid black;
    background-color: green;
    padding: 10px;
    margin: auto 300px;
}

#div-1, #div-3{
    border: 2px solid black;
    background-color: green;
}

#div-1:hover{
    background-color: red;
    color: white;
    border-radius: 15px;
}

#div-2{
    border: 2px solid black;
    background-color: green;
    transition: 0.5s;
}

#div-2:hover{
    background-color: red;
    color: white;
    border-radius: 15px;
}

#div-3:active{
    background-color: red;
    color: white;
}

#div-4{
    border: 2px solid black;
    background-color: green;
    transition: 0.5s;
}

#div-4:active{
    background-color: red;
    color: white;
    border-radius: 15px ;
}

#div-5 , #div-6 {
    padding: 10px;
}

#div-5 > input{
    background-color: gray;
    color: white;
}

#div-5 > input:focus{
    background-color: red;
    color: white;
}

#div-6 > input{
    background-color: gray;
    color: white;
    transition: 0.5s;
}

#div-6 > input:focus{
    background-color: red;
    color: white;
}

#div-7 > #a-1{
    color: white;
}

#div-7 > #a-1:visited{
    color: red;
}

#div-7 > #a-2:link{
    color: white;
}

#div-8 :first-child{
    background-color: red;
}
    
#div-9 :last-child{
    background-color: red;
}
    
#div-10 :nth-child(3){
    background-color: red;
}

#div-11 :nth-child(odd){
    background-color: red;
}

#div-12 :nth-child(even){
    background-color: red;
}

#div-13 :nth-child(3n){
    background-color: red;
}

#div-14:lang(pt){ 
    background-color: red;
}

#div-15:lang(en){ 
    background-color: greenyellow;
}

#div-16 :auto{ 
    outline: 3px solid red;
}

#div-17 :disabled{ 
    outline: 3px solid red;
}

#div-18 :enabled{ 
    outline: 3px solid red;
}

#div-19 :read-only{ 
   outline: 3px solid red;
}

#div-20 :placeholder-shown{ 
    outline: 3px solid red;
}


#div-21 :checked{ 
    outline: 3px solid red;
}

 



