body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    text-align: center;
}

body > div{
    background-color: green;
}

div{
    padding: 10px;
    background-color: white;
    border: 3px solid black;
    margin: 10px;

}

div, button{
    margin: 10px;
}


.div-1 > *{
    background-color: red;
    margin: 10px;
}

.div-2 *{
    background-color: red;
    margin: 10px;
}

.div-3 > div > button{
    background-color: red;
}

.div-4 > div > div > button{
    background-color: red;
}

.div-5 button{
    background-color: red;
}

.div-6 * {
    background-color: red;
}
