@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Komigo';
    src: url('fonte/komigo/Komigo3D-Regular.ttf') format('opentype');
    font-weight: normal;
/*comentario*/  
} 

@font-face {
    font-family: 'Cinema';
    src: url('fonte/cinema_st/cinema_st.ttf') format('opentype');
    font-weight: normal;
/*comentario*/  
} 
body{
    background: url("imagens/bg_pexels\ _peb.webp") center center no-repeat fixed;
    background-size: cover;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #008000c1;
    gap: 15px;
    padding: 15px;
}

h1{
    font-family:'Komigo';
    letter-spacing: 15px;
    font-size: 40px;
}


a{
    color: white;
    text-decoration: none;
}

a:hover{
    color:#badf48;
    font-weight: bolder;
}
nav{
    border: 2px solid white;
    border-radius: 30px;
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    

}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 50px;
    padding: 0px 100px;
} 
.img_layout{
    width: 280px;
    height: 350px;
    border: 2px solid lightgreen;
}
.layout{
    width: 300px;
    height: 650px;
    background-color: #053b0371;
    border: 2px solid lightgreen;
    border-radius:20px ;
    margin: 10px;
    padding: 15px 5px;
}

.layout:hover{
    background-color: #9dcb1569;
    border: #9fcb15 ;
    font-weight: bolder;
    transition-duration: 0.5s;
}

.div_layout{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.div_layout > .pr_bold{
    font-weight: bolder;
    font-size: 20px;
}

.filmes_page{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 500px;
    height: 700px;
    background-color:rgba(0, 0, 0, 0.514);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 15px 0px;
}

.h1_especial{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-family: 16px;
    letter-spacing: normal;
}



.botao{
    font-weight: bolder;
    border: 2px solid green;
    background-color: #053b03;
    padding: 10px;
    border-radius: 10px;
}


footer{
    background-color: darkgreen;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    display: flex;
    align-content: flex-end;
}

@media(max-width: 887px){

    header{
            background-color:rgba(122, 11, 11, 0.667) ;
    }

    body{
        background: url("imagens/popcorn.webp") center center no-repeat fixed;
        background-size: cover;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .layout{
        background-color: rgb(122, 11, 11);
        border: 4px solid rgba(255, 0, 0, 0.265);
        box-shadow: 1px 1px 3px rgba(122, 11, 11);
        border-radius: 0;
        margin: 10px;
        padding: 15px 5px;
        height: 415px;
    }

    
    nav{
        width:100%;
        border: 4px solid rgb(122, 11, 11);
        box-shadow: 1px 1px 3px rgba(122, 11, 11);
    }


    .hidden{
        content-visibility:hidden;
    }

    .botao, .img_general{
        background-color: rgb(122, 11, 11);
        border: 4px solid rgba(255, 0, 0, 0.251);
    }

    .filmes_page{
        background-color:rgba(122, 11, 11, 0.667);

    }

    .img_layout{
        border: 2px solid white;
    }

    footer{
       text-align: center; 
       background-color:rgba(122, 11, 11, 0.667) ;

    }

    .h1_especial{
        font-size: 30px;
    }

    .filmes_page > p{
        font-size: 14px;
    }

     

}


