.firstdiv{
    background-color: aqua;
    
}

.firstspan{
    color: red;
    font-size: 25px;
}

.secondclass{
    background-color: brown;

}

.secondspan{
    color: yellow;
}

.white{
    color: white;
}
