body{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


div{
    background-color: green;
    border: 5px solid black;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    width: 200px;
    height: 150px;
    margin: auto;
    box-sizing: border-box;
}

#div-1 {background-color: red;}
#div-2 {background-color: green;}
#div-3 {background-color:blue;}


.mobile{display: none;}

@media all and (width <= 750px){

   .mobile{display: block;}
   .desktop{display: none;}

}